/* navbar */

@font-face {
    font-family: "Arial Rounded MT";
    src: url("ARLRDBD.ttf");
}

.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: 'Arial Rounded MT', Arial;
    font-size: 35px;
}


.jumbotron {

    background-image: url("bg.jpg");
    background-size: cover;
    height: 500px;
    margin-top: -78px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

/* gradasi black */
.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

/* end */


.jumbotron .display-4 span {
    font-weight: bold;

}

/* utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

.jumbotron .display-4 {

    color: white;
    margin-top: 130px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    margin-bottom: 44px;
    font-size: 34px;
}

.info-panel {
    /* background-color: salmon; */
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -100px;
    padding: 30px;
    margin-bottom: 30px;
    background-color: white;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200pt;
}


/* coworking */

.coworking {
    margin-top: 10px;
}

.coworking h3 {
    font-size: 53px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.container h3 span {
    font-weight: 500;
}


.container p {
    font-size: 18px;
    font-weight: 200;
    /* margin: 30px 0px; */
}



/* desktop */

@media (min-width: 992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }



    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 4px solid #0469FF;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -9px;
    }


    .bg-light {
        background-color: transparent !important;
    }

    .jumbotron {

        margin-top: -78px;
        height: 600px;
    }

    .jumbotron .display-4 {
        font-size: 60px;
    }


}